*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    font-family: 'Nunito', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.col_2{
    width: calc(100%/2);
}

// layouts.guests.partials.shop
section.shop{
    width: 100%;
    background: #0282F9;
    div.shop_content{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        a{
            padding: 30px 10px;
            color: white;
            font-size: 14px;
            text-decoration: none;
            img{
                height: 55px;
                margin-right: 10px;
            }
        }
    }
}

