main#main_content{
    .links{
        a{
            font-size: 16px;
            color: #333338;
            text-decoration: none;
            &.active,
            &:hover{
            color: #FC7523FC;       
            }
        }
    }
}